{% extends 'base.html' %}

{% block title %} QC - Void Detection {% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('predict') }}" enctype="multipart/form-data">
    <!-- Input images -->
    <div>
      <input type="file" id="image_uploads" name="images" accept=".jpg, .jpeg, .png" multiple>
      <p id="preview">No files currently selected for upload</p>
    </div>

    <!-- Detection with YOLO -->
    <div>
      <button type="submit" name="action" value="detection">Detect with YOLO</button>
      {% for detection in detections %}
        <img src="data:image/jpeg;base64,{{ detection }}" width="400">
        <hr>
      {% endfor %}
      <br><br>
    </div>
  
    <!-- Segmentation with SAM -->
    <div>
      <button type="submit" name="action" value="segmentation">Segment with SAM</button>
      {% for mask in masks %}
        <img src="data:image/jpeg;base64,{{ mask }}" width="400">
        <hr>
      {% endfor %}
      <br><br>
    </div>
  
    <!-- Report generation -->
    <div>
      <button type="submit" name="action" value="report">CSV report</button>
      {{ report }}
      <br><br>
    </div>
  </form>
{% endblock %}

{% block script %}
<script>
  // Accessing the HTML (DOM) elements ()
  const image_uploads = document.getElementById('image_uploads'); // the input images button
  const preview = document.getElementById('preview'); // the text field below the input button
  image_uploads.addEventListener('change', updateImageLoading); // run updateImageLoading each time images are uploaded (the change event) 

  function updateImageLoading() {
    // Delete everything written in the text field below the input images button
    while(preview.firstChild) {
      preview.removeChild(preview.firstChild);
    }

    // Get the read images
    const curFiles = image_uploads.files;
    
    if(curFiles.length === 0) {
      const para = document.createElement('p');
      para.textContent = 'No files currently selected for upload'; // print this when there're no files
      preview.appendChild(para);
    } else {
      const list = document.createElement('ol'); // otherwise, create an ordered list to display the file names
      preview.appendChild(list);

      for(const file of curFiles) {
        const listItem = document.createElement('li');
        const para = document.createElement('p');

        if(validFileType(file)) {
          para.textContent = file.name; // only if the file format is valid (.jpg, .png)
        } else {
          para.textContent = `${file.name}: Not a valid file type. Update your selection.`;
        }
        listItem.appendChild(para);
        list.appendChild(listItem);
      }
    }
  }

  const fileTypes = ['image/jpeg', 'image/png']; // .jpg and .png are the supported extensions. Errors may occur (with opencv) if you modify it.

  //  This function detect if an input is valid or not
  function validFileType(file) {
    return fileTypes.includes(file.type);
  }
</script>
{% endblock %}